requests
python-dotenv
# jambaai
matplotlib
arxiv-base
git+https://github.com/dsdanielpark/arxiv2text.git
ipykernel
ipywidgets
dspy==0.11.0
# lamaparse==0.0.1  # Commented out as this package doesn't exist on PyPI